[data-md-color-scheme="algorithmiq"] {
    --md-primary-fg-color: #3b667d;
    --md-accent-fg-color: #54b6b8;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #3b667d;
    --md-accent-fg-color: #54b6b8;
    --md-hue: 210;
}
